* {
    margin: 0;
    padding: 0;
}

.headingStyle {
    background-color: purple;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    width: 500px;
    border-radius: 5px;
    margin: 10px auto;
}

.card {
    background-color: #ffd773;
    box-shadow: 0px 2px 4px 2px gray;
    width: 500px;
    margin: 10px auto;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}

.cardTitle {
    color: brown;
}

.cardDescription {
    color: black;
    font-weight: bold;
}

.date {
    columns: black;
    font-size: 1.2222rem;
}